@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* NavBar */

* {
  font-family: 'Roboto';
}

body {
  margin: 0px;
}

.nav-bar {
  display: flex;
  background-color: #1F2937;
  margin: 0px;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  margin-right: auto;
  padding-left: 100px;
}

.navList {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding-right: 100px;
}

.navLinks {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

/*Hero*/

.heroLeft {
  width: 50%;
  height: 50%;
  display: inline-block;
  background-color: #1F2937;
}

.heroSlogan {
  color: #F9FAF8;
  font-weight: 900;
  text-align: center;
  margin-top: 100px;
}

.heroSubSlogan {
  color: #F9FAF8;
  text-align: center;
  width: 50%;
  height: 50%;
  padding-left: 25%;
}